.profile-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .profile-main {
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: row;

        .profile-image-container {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .profile-image {
                border: 1px solid black;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                background-position: center;
                background-size: cover;
            }
        }

        .profile-details {
            padding: 10% 0;
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;

            span {
                i {
                    padding: 0 5px;
                    font-size: 15px;
                }
            }
        }
    }

    .profile-meta {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 30%;
        width: 100%;

        .meta-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 25%;
            min-width: 100px;
            height: 55%;
            min-height: 40px;
            background: slategray;
            border-radius: 5px;
            border: 1px solid black;
        }
    }
}