.card-container {
    display: inline-block;
    position: relative;
    width: 350px;
    height: 350px;
    margin: 10px;
    padding: 15px 0;
    border-radius: 30px;
    color: white;
    background: transparent;
    box-shadow: rgba(2,12,27,0.7) 5px 10px 30px -10px;

    .card-header {
        height: 10%;
        width: 100%;
        color: darkgrey;
        display: inline-flex;
        align-items: center;
        padding: 0 20px;
        justify-content: space-between;

        .heading {
            width: 80%;
            height: 100%;
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            text-transform: uppercase;

            h4 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
 
            i {
                font-size: 22px;
                padding: 0 10px 0 5%;
            }
        }

        a {
            margin-right: 5%;
            color: darkgrey;
            font-size: 22px;
        }
    }

    .description {
        height: 22%;
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;

        p {
            padding: 0 10px 0 10%;
        }
    }

    .card-chart {
        height: 60%;
        width: 100%;

        .error-message {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            color: #6198b9;
            transform: translate(-50%, -50%);
            text-align: center;
            text-transform: uppercase;
        }
    }

    .details {
        margin: 0 10%;
        width: 80%;
        height: 8%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        span {
            display: inline-flex;
            align-items: center;
            color: darkgrey;
            font-size: 13px;
        
            i {
                padding-right: 5px;
                font-size: 13px;

                &.small {
                    color: blue;
                    font-size: 9px;
                }
            }
        }
    }
}