* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(26, 30, 34);
}

 a {
    text-decoration: none;
    color: black;
 }

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(26, 30, 34);
    font-family: 'Open Sans';
    overflow: hidden;

    .search-result {
        width: 100%;
        display: flex;
        position: relative;
        top: 0;
        height: calc(100% - 70px);

        .right-panel-result {
            width: 70vw;
            height: 100%;
        }
    }
}