* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(26, 30, 34);
}

 a {
    text-decoration: none;
    color: black;
 }

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(26, 30, 34);
    font-family: 'Open Sans';
    overflow: hidden;

    .search-result {
        width: 100%;
        display: flex;
        height: calc(100% - 70px);

        .right-panel-result {
            width: 70vw;
            height: 100%;
        }
    }
}

@media only screen and (max-width: 600px) {
    .app {
        overflow: scroll;

        .search-result {
            display: block;

            .right-panel-result {
                width: 100%;
            }
        }
    }
}